<h2><%= @patient.name %></h2>
<p>
  Doctor: <% @patient.appointments.each do |appt| %>
    <%= link_to appt.patient.name, doctor_path(doctor)
</p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>