<% @doctors.each do |doctor| %>
  <ul>
    <li>
      Name: <%= doctor.name %>
      Number of Appointment:
        <%= pluralize (doctor.appointments.count, 'Appointment') %>
    </li>
  </ul>
<% end %>

