<h2><%= @doctor.name %></h2>
<p>
  Department: <%= @doctor.department %>
</p>
Appointments:
  <% @doctor.appointments.each do |appointment| %>
    <%= link_to appointment.doctor.na user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>